
.DS_Store
Sheep Habit.xcodeproj/project.xcworkspace/xcuserdata/fatsheeper.xcuserdatad/UserInterfaceState.xcuserstate
Sheep Habit.xcodeproj/project.xcworkspace/xcuserdata/fatsheeper.xcuserdatad/UserInterfaceState.xcuserstate
Sheep Habit.xcodeproj/project.xcworkspace/xcuserdata/fatsheeper.xcuserdatad/UserInterfaceState.xcuserstate
